.homeContent {
    width: 100%;
    /* height: 95%; */
    background: linear-gradient(77deg, #00000061, #000000);
    color: yellow;
    display: flex;
    padding: 3% 10%;
    /* padding-top: 15%; */
}

.leftHomeContent {
    width: 70%;
}

.leftHomeContent .vacant {
    margin: 50vh;
}

.leftHomeContent .value {
    margin: 2% 4%;
    padding: 1%;
    text-align: left !important;
    letter-spacing: 1.5;
    color: lightskyblue;
    width: 70%;
}

.leftHomeContent .value h1 {
    letter-spacing: 2px;
    color: lightskyblue;

}

.leftHomeContent .value h4 {
    font-size: 18px;
}

.leftHomeContent .value h5 {
    text-decoration: underline;

}

.resumeButton {
    padding: 10px;
    background: linear-gradient(13deg, #ffffff69, #ff6600, #ff6600, rgb(255, 174, 15), rgb(255, 174, 15));
    color: #fff;
    border-bottom: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    border-radius: 4px;
    width: 200px;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 1px !important;
    cursor: pointer;
    /* margin-bottom: 15%; */
}

button:hover {
    background: #ff6600 !important;
}

.rightHomeContent {
    width: 30%;
    color: lightskyblue;
}

.userconnect h3 {
    margin: 0px;
    color: rgb(235 181 76);
}

.as {
    position: fixed;
    top: 25%;
    left: 0px;
    background: linear-gradient(236deg, #061691, white, #ff0000);
}

#connect {
    list-style-type: none;
    display: block;

}

#connect li {
    color: white;
}

.ProjectInfo {
    letter-spacing: 2px;
    display: flex;

}

.ProjectInfo .projInfo {
    border: 2px solid #d96a18;
    border-radius: 25px;
    padding: 20px;
    margin: 5px;
    width: 200px;
    text-align: center;
    /* background-color: rgb(42 38 24); */
    box-shadow: 2px 1px 4px 2px rgba(131, 131, 131, 0.574);

}

.projInfo:hover {
    box-shadow: 2px 1px 4px 2px #d96a18;
}

.projInfo h3 {
    text-align: center;
}

@media (max-width: 690px) {

    .homeContent {
        display: block;
    }

    .leftHomeContent {
        width: 100%;
    }

    .leftHomeContent .value {
        width: 100%;
        margin: 0%;
    }

    .rightHomeContent {
        width: 100%;
    }

    .ProjectInfo {
        display: flex;
    }

    .completedProj,
    .satisfiedClient {
        padding: 10px;
    }
}

@media (max-width: 600px) {}