.contact-container {
    width: 50%;
    margin: 8vh 5vh 8vh 0vh;
    padding: 20px 40px;
    background-color: #ffffff4b;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.contact-form {
    margin-top: 30px;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #ffffffe6;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1.5px solid #d679ff;
    border-radius: 10px;
    font-size: 18px;

}

textarea {
    /* resize: vertical; */
    height: 120px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    /* border: none; */
    /* background-color: red; */
    border-width: 2px !important;
    border-color: #d679ff !important;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #002147;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6600 !important;
}

.contactPage {
    display: flex;
    /* margin: 5% 10%; */
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    color: black;

}

.contactPage li {
    padding: 5px 0px;
    margin: 0px 20px;
    /* color: #1c4ff6; */

}

.contactPage li a {
    color: #587ae9;
    font-weight: 600;
}

.contactMsg {

    width: 50%;
    /* background-color: red; */
    margin: 8vh 0 8vh 5vh;
    padding: 25px 55px;
    background-color: #ffffff16;
    border-radius: 2%;
    /* opacity: 85%; */
    color: #fff;

}

.contactPage {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(241deg, #1c4ff6, #ff0000); */
    background: linear-gradient(241deg, #003cffb5, #000000d9);
    margin: 10% 0%;
}

@media (max-width: 768px) {
    .contact-container {
        width: 80%;
        max-width: 500px;

    }
}

@media (max-width: 600px) {
    .contactPage {
        display: block;
        margin: 0px;
    }

    .contactMsg {
        width: 90%;
        margin: 8vh auto;
    }

    .contact-container {
        width: 90%;
        padding: 20px 10px;
        margin: 8vh auto;
    }

    input[type="text"],
    input[type="email"],
    textarea {

        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1.5px solid #d679ff;
        border-radius: 10px;
        font-size: 18px;

    }
}



@media (max-width: 480px) {
    .contact-container {
        width: 90%;
        max-width: 350px;
    }
}