.bodyContainer {
    /* margin: 0px 65px; */
    margin: 0% 8%;
    background: #efeeeec9;
    /* margin-bottom: -100px; */
    padding: 1% 5% 0% 5%;
}

@media (max-width: 600px) {
    .bodyContainer {
        margin: 0%;
    }
}