.blogHeading {
    display: flex;
}

.blogHeading h4 {
    box-shadow: 0px 0px 36px 1px rgba(131, 131, 131, 0.574);

    color: #425175;
    font-weight: 500;
    font-size: 24px;
    width: fit-content;
    padding: 5px 10px;
    border-top-left-radius: 7px;
    background: #a7a7a7;

}

.whSpace {
    box-shadow: 1px 0px 64px 1px rgba(131, 131, 131, 0.574);
    background: #a7a7a7;
    width: 10px;
    padding: 10px;
    border-top-right-radius: 70%;
}

.blogMain {
    display: flex;

    box-shadow: 2px 1px 4px 2px rgba(131, 131, 131, 0.574);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 10px;

}

/* rightBlog */
.courseList {
    display: flex;
    justify-content: center;
    margin: 5px;
    text-align: center;
    padding: 1px;

    border-radius: 8px;
    background: #f7f7f7;
}

.leftBlog {
    width: 48%;
    background: #a7a7a7;

}


.rightblog {
    width: 50%;
    margin: 2px 15px;
    /* background: #a7a7a7; */
}

.courseName {
    font-weight: 500;
    padding: 5px;
    color: darkslateblue;
    cursor: pointer;
}

.courseName:hover {
    color: blue;
    border-bottom: 2px solid goldenrod;
}


.course {
    display: flex;
    margin-top: 5px;
    border: 3px solid #ffffff75;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 2px 1px 4px 2px rgba(131, 131, 131, 0.574);
    background: #d2d5d2;
    cursor: pointer;
}

.courseInfo {
    display: flex;
    margin-left: 15px;
}

.courseImg {
    width: 120px;
    max-height: 120px;
    overflow: hidden;
}

.courseImg img {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 120px;
    transform-origin: 50% 65%;
    transition: transform 1s, filter 10s linear;
    /* filter: brightness(150%); */
}

.course:hover img {
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    /* filter: brightness(100%); */
    transform: scale(1.5);
}






/*content*/
.headerCont {
    /* border: 2px solid; */
    padding: 10px;
    margin: 5px;
}

.content {
    color: rgb(118, 53, 3);
    /* border: 2px solid; */
    border-radius: 15px;
    padding: 10px;
    margin: 2px
}

.blogMainContainer {
    display: flex;
    margin: 2px 100px;
    box-shadow: 2px 1px 4px 2px rgba(131, 131, 131, 0.574);
    border-radius: 15px;
    background: #e4e4e4;
    color: #142449;
}

.rightblogContainer {
    width: 100%;

    /* background: #a7a7a7; */
}

.courseHead {
    margin: 5px 20px;
    text-decoration: underline;
    text-align: center;
}

.headerName h1 {
    text-decoration: underline;
} @media (max-width:600px) {
    .blogMain{
        display:block;
    }
}