* {
    box-sizing: border-box;
    /* text-decoration: none; */
    /* list-style-type: none; */
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: #939393a6;
    min-width: 380px;
}

#navbar img {
    padding: 6px;
    height: 40px;
    margin-left: 80px;
}

#navbar {
    background: linear-gradient(167deg, #919191, #000000);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

#navbar ul {
    margin: 0px;
    margin-right: 90px;
}

#navbar ul li {
    display: inline-block;
    /* font-size: 22px; */
    font-weight: 400;
    margin: 0px 0px;
    margin-left: -15px;
    padding: 10px;
    padding-left: 8px;
}

#navbar ul li a {
    margin: 0px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
}

#navbar ul li a:hover {
    /* color: rgb(0, 0, 0); */
    /* background-color: rgb(255, 255, 255); */
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    color: gold;

    border-bottom: 2px solid rgb(255, 255, 255);
}

#navbar ul li a:active {
    color: white;
}

.logo {
    display: flex;
    justify-content: center;

}

#navbar img {
    padding: 1px;
}

.logo h5 {
    color: #ffffff;
    font-size: 38px;
}

.nav {
    display: flex;
    justify-content: center;
}

#navbar a {
    text-decoration: none;

}

a img:active {
    background-color: #002147;

}