.projectPage {

    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 1px 4px 2px rgba(131, 131, 131, 0.574);
}

.projectContainer {
    /* display: flex; */

}
.a{
    text-decoration: none;
     color: inherit;
}
.tech{
    font-size: small;
    font-weight: bold;
}.techs{
    font-size: small;
    white-space: normal;
}
.projRight {
    /* display: flex; */
    /* flex-wrap: wrap; */

}

.projCard {
    display: flex;
    background-color: #dbd7d7;

    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    /* box-shadow: 2px 1px 4px 2px rgba(131, 131, 131, 0.574); */
    flex-basis: 24%;
    border: 1px solid rgb(158, 158, 158);
    border: 1px solid rgb(190 188 188);
}

.projImg {
    /* width: 250px;
    height: 220px; */
    background: #f1f1f1;
    border-radius: 15px;

}

.projImg img {
    /* width: 250px;
    height: 220px; */
    border-radius: 15px;
}
.projInfo{
    padding: 12px;
}

.projImg p {
    display: none;

}



/* .projImg:hover p {
    position: absolute;
    color: rgb(0, 0, 0);
    display: block;
    background: rgba(139, 139, 139, 0.294);
} */
.projDesc{
    text-align: justify;
}
.projCard h3:hover{
    color:#f18400;
}
.projCard:hover{
    box-shadow: 2px 1px 4px 2px rgba(131, 131, 131, 0.574);
    border: 1px solid rgb(157 157 157);
}